<form class="form" [formGroup]="employeeAddressForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
  <section class="form-block">
      <div formGroupName="textBox">
          <label>Text Form</label>
          <div class="form-group">
              <label for="empName">Text Name</label>
              <label for="empName"
                  aria-haspopup="true"
                  role="tooltip"
                  class="tooltip tooltip-validation tooltip-sm"
                  [class.invalid]="employeeAddressForm.get('textBox').get('name').invalid
                      && (employeeAddressForm.get('textBox').get('name').dirty ||
                      employeeAddressForm.get('textBox').get('name').touched)">
                  <input id="empname" type="text"
                      formControlName="name">
                  <span class="tooltip-content">
                      Postal code is required.
                  </span>
              </label>
          </div>
          <div class="form-group">
              <label for="emptype">Type</label>
              <label for="emptype"
                  aria-haspopup="true"
                  role="tooltip"
                  class="tooltip tooltip-validation tooltip-sm"
                  [class.invalid]="employeeAddressForm.get('textBox').get('type').invalid
                      && (employeeAddressForm.get('textBox').get('type').dirty ||
                      employeeAddressForm.get('textBox').get('type').touched)">
                  <input id="emptype" type="text"
                      formControlName="type">
                  <span class="tooltip-content">
                      type is required.
                  </span>
              </label>
          </div>
      </div>
      <div formGroupName="select">
        <label>Select Form</label>
        <div class="form-group">
            <label for="empPost">Select name</label>
            <label for="empPost"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-sm"
                [class.invalid]="employeeAddressForm.get('select').get('name').invalid
                    && (employeeAddressForm.get('select').get('name').dirty ||
                    employeeAddressForm.get('select').get('name').touched)">
                <input id="empPost" type="text"
                    formControlName="name">
                <span class="tooltip-content">
                    Postal code is required.
                </span>
            </label>
        </div>
        <div class="form-group">
            <label for="emptype">Options</label>
            <label for="emptype"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-sm"
                [class.invalid]="employeeAddressForm.get('select').get('type').invalid
                    && (employeeAddressForm.get('select').get('type').dirty ||
                    employeeAddressForm.get('select').get('type').touched)">
                <input id="emptype" type="text"
                    formControlName="type">
                <span class="tooltip-content">
                    type is required.
                </span>
            </label>
        </div>
    </div>
      <button class="btn btn-primary"
          type="submit"
          [disabled]="employeeAddressForm.invalid">Add</button>
  </section>
</form>